/**
Prefeitura da Cidade do Rio de Janeiro
Iplanrio: Empresa Municipal de Informática (GTIS7)
CSS vs: 1.0
**/
/* custom */
.navbar {
    background-color: #004a80!important;
}
.list-group-item-action:focus, .list-group-item-action:hover {
    background-color: #d9efff;
}
.btn-light{
    /*background-color: #e2e6ea;*/
    border-color: #dae0e5;
}
.bg-modal{
    background-color: #e2e6ea!important
}
.border-modal {
	border-color: #d6d6d6!important;
}

.card-body {
    padding: 1rem;
}

.vh-auto {
    height: calc(100vh - 75px)!important;
}
.text-info {
	color: #00bff2!important;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
.h5, h5{
    font-size: 1rem;
}

.container-code{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section {
	
}

/* breadcrumb */
.breadcrumb{
	font-weight:500;
	background-color:#e2e6ea;
	color: #9e9e9e;
}
.breadcrumb .active {
	color: #007bff;
}

/* timeline */
.timeline {
    /*border-left: 3px solid #00bff2;*/
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    /*background: #fbfbfb;*/
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1em;
    font-size: 0.9em;
    padding:0px 0px 0px 25px;
	/*padding: 50px;*/
    list-style: none;
    text-align: left;
    /*max-width: 40%;*/
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        /*padding: 25px;*/
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    /*border-bottom: 1px dashed #ccc;
    padding-bottom: 25px;
    margin-bottom: 25px;*/
    position: relative;
	/*font-weight:bold;*/
}

.timeline li.event{
border-left: 3px solid #00bff2;
padding-left: 15px;
    padding-bottom: 15px;
}


@media (max-width: 767px) {
    .timeline .event {
        padding-top: 0px;
    }
	.map{ 
		height: 600px;
		}
	.container {
		padding-right: 0px;
		padding-left: 0px;
	}
	.col-md-12{
		padding-right: 5px;
		padding-left: 5px;
	}

}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #00bff2;
    box-shadow: 0 0 0 3px #00bff2;
    left: -6px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

.timeline .event.active:after {
-webkit-box-shadow: 0 0 0 3px #007bff;
    box-shadow: 0 0 0 3px #007bff;
    background: #007bff;
}	

.timeline li:last-child:after {
    top:3px;
	left: -3px;
}
.timeline li:first-child:after {
    top:3px;
	/*left: -3px;*/
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -6px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/* Tabs */

.classic-tab-wrap .tab-wrap {
    /*padding: 20px;
    background: #f5f5f5;*/
}

.classic-tab-wrap .tab-wrap .nav-tabs li {
    margin: 0;
}

.classic-tab-wrap .tab-wrap .nav-tabs li a {
    font-weight: 500;
    font-size: 18px;
    color: #8a8a8a;
    border: none;
    border-bottom: 2px solid transparent;
    padding-left: 35px;
    padding-right: 35px;
}

.classic-tab-wrap .tab-wrap .nav-tabs li a.active {
    color: #495057;
    background: transparent;
    border-color: #00bff2;
}

.classic-tab-wrap .tab-wrap .nav-tabs li a i {
    margin-right: 6px;
}

.classic-tab-wrap .tab-wrap .tab-pane {
    padding: 20px 0;
}

.viewBtn {
    padding-left: 20px;
    padding-right: 20px;
    outline: none !important;
    box-shadow: none !important;
}


