@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --gray-100: #F0EFEF;
    --yellow-100: #F8AC04;
    --black: #010101
}


body {
    background: var(--gray-100);
    color: var(--black-900);
    max-height: 100vh;
}

body,
input,
select,
button {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

#map {
    height: 100vh;
    margin-top: 211px;
}
.mapWrapper{
    max-height: calc(100vh - 211px);
}